{
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/sort-comp": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/static-property-placement": "off",
    "no-unused-expressions": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "no-shadow": "warn",
    "no-param-reassign": "warn",
    "react/forbid-prop-type": "off",
    "no-unused-vars": "warn",
    "no-console": "off",
    "react/no-unescaped-entities": "off",
    "react/forbid-prop-types": "off",
    "react/no-unused-prop-types": "off",
    "react/prefer-stateless-function": "warn",
    "no-undef": "warn",
    "react/button-has-type": "warn",
    "class-methods-use-this": "warn",
    "prefer-destructuring": "warn",
    "react/jsx-one-expression-per-line": "off",
    "max-classes-per-file": "off",
    "consistent-return": "warn",
    "react/jsx-fragments": "off",
    "react/jsx-curly-brace-presence": "off",
    "import/order": "off",
    "spaced-comment": "off",
    "dot-notation": "off",
    "prefer-template": "off",
    "import/no-useless-path-segments": "warn",
    "import/newline-after-import": "warn",
    "no-return-await": "warn",
    "react/jsx-boolean-value": "off",
    "import/no-cycle": "warn"
  }
}
