@import './../../assets/constants'

$container-size: 370px
$icon-size: 110px

.container
  position: absolute
  left: 50%
  top: 50%
  transform: translateX(-50%) translateY(-50%)

.containerIcon
  display: block
  margin-top: 10px
  margin-left: auto
  margin-right: auto
  width: $icon-size
  height: $icon-size
  font-size: $icon-size
  background: $primary-color
  border-radius: 50%
  color: $contrast-color

.link
  background: transparent

.containerText
  margin-top: 20px
  text-align: center
