@import '../../../assets/constants'

.item
  text-decoration: none
  &:hover
    text-decoration: underline

.itemText
  margin-left: 4px
  font-size: 13.5px
  color: $contrast-color
  &:hover
    cursor: pointer