@import '../../../assets/constants'

$logo-side: 30px

.sideBar
  position: fixed
  z-index: 1
  left: 0
  top: 0
  bottom: 0
  background: $primary-color
  width: $side-bar-width
  height: 100%

.logoBox
  width: 100%
  margin-top: 20px
  margin-left: 12px

.titleLogo
  width: $logo-side
  height: $logo-side

.titleText
  display: inline-block
  font-size: 30px
  letter-spacing: 2px
  margin-left: 7px
  color: $contrast-font

.content
  margin: 50px 0 0 22px


.sectionRow
  margin-top: 70px
  display: inline-flex
  flex-direction: row
  align-items: center
  &:nth-child(1)
    margin-top: 10px

.sectionIcon
  color: white
  margin: 0 12px 5px 0
  font-size: 24px

.sectionTitle
  font-size: 17px
  color: $contrast-color

.subSection
  margin-left: 31px
  margin-top: 4px
  display: block

.itemRow
  display: inline-flex
  flex-direction: row
  align-items: center
  margin-top: 5px

.subSectionToggle
  font-size: 20px
  color: white

.item
  text-decoration: none
  &:hover
    text-decoration: underline

.itemText
  margin-left: 4px
  color: $contrast-color