@import '../../../assets/constants'

.sectionIcon
  color: $contrast-color
  margin: 0 12px 1.5px 0
  font-size: 22px


.subSection
  margin-left: 19px
  margin-top: 4px
  display: block

.itemRow
  display: inline-flex
  flex-direction: row
  align-items: center
  margin-top: 5px

.subSectionToggle
  font-size: 20px
  color: white

.item
  text-decoration: none
  &:hover
    text-decoration: underline
    font-weight: bold

.itemText
  margin-left: 4px
  font-size: 13.5px
  color: $contrast-color
  &:hover
    cursor: pointer