@import './../../../assets/constants'

.deploymentList
  margin-top: 0

.mainTable
  margin-top: 22px

.selectedCell
  font-weight: 700

.row
  background: transparent
  &:hover
    background: $content-background-color
    cursor: pointer

.focusedRow
  composes: row
  background: $contrast-less-font
  border-radius: 5px
  &:hover
    background: $contrast-less-font
    cursor: default

.status
  composes: statusDecoration from './../../../assets/text-combos.sass'

.statusPending
  composes: status
  composes: fontColorIdle from './../../../assets/text-combos.sass'

.statusAccepted
  composes: status
  composes: fontColorSuccess from './../../../assets/text-combos.sass'

.statusRejected
  composes: status
  composes: fontColorWarn from './../../../assets/text-combos.sass'

.confirm
  composes: centerSubmitButton from './../../../assets/input-combos.sass'
  width: 140px
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
