@import './constants'

.statusTag
  background: $content-background-color
  border-radius: 3px
  padding: 5px 10px
  text-align: center
  display: inline-block
  color:  $contrast-font
  font-size: 13px

.statusDecoration
  letter-spacing: 1px
  font-weight: 800
  text-transform: uppercase

.fontColorIdle
  color: $contrast-less-font

.fontColorReady
  color: $primary-color

.fontColorReadyLess
  color: $primary-font-less

.fontColorNotReady
  color: $content-background-color

.fontColorWarn
  color: tomato

.fontColorFailure
  color: darkred

.fontColorSuccess
  color: darkgreen

.tinyTitle
  color: $primary-font-less
  font-size: 16px
  font-weight: 100

.keyword
  font-weight: 900

.subtitle
  color: $primary-font-less
  font-size: 13px

.striken
  text-decoration: line-through


