@import './../node_modules/ui-common/src/constants'
@import './../node_modules/ui-common/src/text'
@import './../node_modules/ui-common/src/input'
@import './../node_modules/ui-common/src/table'
@import './../node_modules/ui-common/src/code'

body
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 0
  margin: 0
  background: $content-background-color
