@import '../../../assets/constants'

$header-size: 42px
$header-left: 15px
$mult: 1.04

.card
  composes: shadowCard from '../../../assets/content-layouts.sass'
  position: relative
  display: inline-block
  width: calc(360px * #{$mult})
  height: calc(260px * #{$mult})
  margin-left: 26px
  margin-top: 16px
  border: transparent solid 2px

.header
  height: $header-size
  width: 100%
  position: relative
  margin-bottom: 14px

.headerImage
  position: absolute
  height: $header-size
  width: $header-size
  display: inline-block

.headerText
  left: $header-size
  position: absolute
  margin-left: $header-left
  display: inline-block

.headerTitle
  composes: headerText
  composes: tinyTitle from '../../../assets/text-combos.sass'
  margin-top: 1px
  &:hover
    text-decoration: underline
    cursor: pointer

.headerSubtitle
  composes: headerText
  composes: subtitle from '../../../assets/text-combos.sass'
  bottom: 1px

.podStatusesBox
  position: absolute
  border-style: solid
  border-width: 0px 0 0 0
  border-color: #ddd
  bottom: 0
  left: -2px
  right: -2px
  display: flex
  padding: 12px 0 12px 4px

$pod-size: 14px

.podCircle
  width: $pod-size
  height: $pod-size
  border-radius: 50%
  margin-left: 6px

.contentRows
  margin-top: 18px

.podStatusPending
  background: orange

.podStatusRunning
  background: $status_col_success

.podStatusFailed
  background: $status_col_fail

.podStatusUnknown
  background: $content-background-color

