@import './../../assets/constants'

.inputLine
  composes: inputLine from './../../assets/input-combos.sass'
  margin-top: 4px
  justify-content: space-between

.fullLineInput
  composes: cleanTextInputDark from './../../assets/input-combos.sass'
  width: 80%

.pathInput
  composes: fullLineInput
  width: 40%

.verbSelect
  composes: fullLineInput
  width: 30%

.label
  width: 130px
